.idea/


# Gradle files
.gradle/
build/
# Android Studio cache
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/httpRequests/

# Log files
*.log

# MacOS
.DS_Store

# Proguard configuration files
proguard-rules.pro


*.iml
local.properties

/build/
*.apk
*.aab

app/google-services.json
app/src/**/google-services.json


*.keystore
*.jks

/cmake-build-debug/
.externalNativeBuild/
*.so
*.o
*.map
*.swp


*.properties


